/* Theme styles.
 * =============
 * These are the separate styles for theme_handlebar. They should not include
 * colours or any other variable that would be controlled by the theme preset
 * or settings.
 */

/* Give drawer an opaque background colour.
 * ----------------------------------------
 * Note: This breaks the rule above - cannot use opacity as that would affect
 * all child elements too, therefore uses a pale grey with alpha channel bkg. */
[data-region="drawer"] {
    background-color: rgba(100, 100, 100, 0.4);
}

/* Give headings in the header an outline shadow.
 * ----------------------------------------------
 * This ensures they will stand out whatever the background image used. */
header#page-header .page-header-headings h1 {
    text-shadow: $brand-primary 0 0 4px;
}

/* Centre the social icons in the footer.
 * -------------------------------------- */
.socials_wrapper {
    margin: 0 auto;
    .socials {
        text-align: center;
        margin-bottom: 0;
    }
}

/* Correct header navbar height bug.
 * --------------------------------- */
.navbar {
    padding: 10px 15px 15px;
    .navbar-brand {
        padding-top: 0;
    }
}

/* Give page header border and radius.
 * ----------------------------------- */
#page-header {
    .card {
        border-radius: $border-radius-lg;
        border: 3px solid $brand-primary;
        box-shadow: 2px 2px 2px $brand-info;

    }
}


/* LOGIN PAGE STYLING.
 * =================== */

/* Hide the page footer on the login page.
 * ---------------------------------------
 * This could be done by removing the footer from the layout/template in the
 * first place, but this is simpler in the first instance. */
#page-login-index footer#page-footer {
    display: none;
}

/* Add border radius, border and box-shadow to login box.
 * ------------------------------------------------------
 * Use brand-colours so they can be overridden by presets/settings. */
#page-login-index {
    .card {
        padding-top: 3rem;
        padding-bottom: 3rem;
        border-radius: $border-radius-lg * 2;
        border: $brand-primary solid 4px;
        box-shadow: 6px 6px 3px $brand-info;
        .card-title {
            border-bottom: 1px solid $brand-primary;
        }
    }
}

/* DEFAULT IMAGE SETTINGS STYLING.
 * =============================== */
body {
    background-size: 100% 100%;
}
header#page-header .card,
header#page-header .card .withimage {
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}

/* SIDE-TOP BLOCK REGION LAYOUT.
 * ============================= */
#block-region-side-top {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: stretch;
}
#block-region-side-top .block {
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
}

/* BLOCKS MODAL.
 * ============= */
.blockmodalbuttons {
    float:right;
    width:50px;
    right:0;
    top:30%;
    position:fixed;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    align-items: stretch;

    button.pageblockbtn {
        margin-bottom:10px;
        order: 0;
        flex: 1 1 auto;
        align-self: auto;
            opacity:0.6;
    }
}


section#slider1_blocksmodal,
section#slider2_blocksmodal,
section#slider3_blocksmodal,
section#slider4_blocksmodal {
    width:100%;
    height:100%;
}

.blocksmodal.modal-dialog {
    margin: 5% 7.5%;
    max-width:100%; /* Override core modal-dialogue max width setting. */
    width:85%;
    p {
        font-size: $font-size-sm
    }
    h1 {
        font-size: $font-size-h1 * 0.85
    }
    h2 {
        font-size: $font-size-h2 * 0.85
    }
    h3 {
        font-size: $font-size-h3 * 0.85
    }
    h4 {
        font-size: $font-size-h4 * 0.85
    }
    h5 {
        font-size: $font-size-h5 * 0.85
    }
    h6 {
        font-size: $font-size-h6 * 0.85
    }
    .modal-body .block-region {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: stretch;
        align-items: stretch;

        .block {
            order: 0;
            flex: 1 1 auto;
            align-self: auto;
            margin:0 5px;
        }
    }
}

.modalcards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: stretch;
        align-items: stretch;

        .card {
            order: 1;
            flex: 1 1 auto;
            align-self: auto;
            margin:0 5px;
        }
}
.modalcards_progress {
    max-width:100px;
    flex: 1 0 auto;
    border:none;
    .progress-chart-container,
    p, i {
        margin:0 auto;
        text-align: center;
    }
}